@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
    font-family: 'Nanum Gothic', sans-serif;
}

html,
body {
    height: 100vh;
    margin: 0;
    width: 100%;
}

#nav {
    /* 사이즈 설정 */
    width: 100%;
    height: 60px;
    /* 색 설정  */
    background-color: rgb(117, 208, 231);
    /* 투명도 설정 */
    opacity: 0.9;
    /* 위치 설정 */
    position: relative;
    z-index: 99;
}

#main {
    /* 배경 색 설정 */
    background-color: antiquewhite;
    /* 사이즈 설정 */
    height: 100vh;
    width: 100%;
    /* 위치 설정 */
    position: absolute;
    top: 0;
    z-index: 2;
}

.back-btn-wrapper {
    /* 위치 설정 */
    position: absolute;
    top: 15px;
    left: 15px;
}

.back-btn-wrapper>a>i {
    /* 문자 설정 */
    font-size: 30px;
    color: white;
}

#main>#map {
    height: 100vh;
    width: 100%;
    /* 위치 설정 */
    top: 0px;
    z-index: -1;
}


/*  Main SearchBar Css */

.search-bar-positioner {
    /* Size 설정 */
    position: relative;
    top: 90px;
    z-index: 3;
}

.search-bar-wrapper {
    /* 내부 Item 위치 설정 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* 사이즈 설정 */
    height: 7vh;
    width: 90vw;
    max-height: 50px;
    /* 위치 설정 */
    margin: 0 auto;
    padding: 10px 0;
    /* 검색할 배경 스타일 */
    border-radius: 40px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
}

#search-bar {
    width: 90%;
    height: 80%;
    /* 테두리 삭제 */
    border-style: none;
    /* font 설정 */
    font-size: 15px;
    font-weight: bold;
    font-family: "Nanum Gothic", sans-serif;
}

#search-bar:focus {
    outline: none;
}

.search-btn>i {
    font-size: 25px;
    color: skyblue;
}